@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Montserrat:wght@100;400&family=Open+Sans:wght@300&family=Playfair+Display&family=Rubik&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
	--grisclair : #868686; 
	--vertclair : #ACCD9D;
	--violetclair : #918ABC;
	--grisfoncer : #1F1F1F;
	--blancgris : #E4E4E4;

}
*::-webkit-scrollbar{
	overflow: hidden;
}
body{
	background: var(--grisfoncer);

}
body, html {
	margin: 0;
	padding: 0;


  }
  
.imgback {

	background: url('foret.jpg') no-repeat center center;
	background-size: 100% 100%; 
	position: fixed;
	margin: 0 0 0 0;
	margin-top: -1em;
	left: 0;
	right: 0;
	width: 100%;
	height: 105%;
	z-index: -1;

  }



/* CSS nav barre*/
.sidenav {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	background-color: var(--grisfoncer);
	padding-top: 1.5em;
	transition: left 1s ease;
  } 
  .sidenav ul {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style-type: none;
  }
  .sidenav a {
	padding: 25px 25px 10px 0;
	text-decoration: none;
	color: var(--grisclair);
	display: block;
	transition: 0.3s;
  }
  .sidenav .sousmenu li{
	display: inline-block;
	position: relative;
  }
  .menuprinc a{
	font-size: 1.9em;
	color: var(--vertclair);
  }
  .sousmenu a{
	font-size: 1.3em;
	color: var(--blancgris);
  }
  .menuprinc a:hover {
	color: var(--grisclair);
  }
  .sousmenu a:hover {
	color: var(--grisclair);
  }
  .sidenav.active {
	left: 0;
  }   
  .sidenav .close {
	position: absolute;
	top: 0;
	right: 1.5625em;
	font-size: 2.25em;
  }  
  .burger-icon span {
	display: block;
	width: 2.3em;
	height: 0.25em;
	border-radius: 1em;
	background-color: var(--grisclair);
	margin: 0.3em 1em;
  }

  .accueil a{
	font-size: 2.2em;
	margin-bottom: 0.7em;
	display: block;
	color: var(--vertclair);
  }
  .accueil a:hover{
	color: var(--grisclair);
  }
  .contact a{	
	color: var(--vertclair);
	font-size: 1.9em;
	display: block;
  }
.contact:hover{
	color: var(--grisclair);
}

/*Début css body ------------------------------------------------------------------ */
#titre1{
	background-color: var(--blancgris);
	height: 1.2em;
	width: 5.5em;
	border-radius: 0.1em;
	color: var(--grisclair);
	text-align: center;
	margin-top: -2.3em;
	font-size: 3.5em;
	margin-left: 9em;
	margin-bottom: 2.5em;
	opacity: 0.85;
	font-weight: 800;

}
#titre1.active{
	display: none;
}
#titre1t.active{
	display: none;
}
#titre1w.active{
	display: none;
}
#titre1t{

	color: var(--grisclair);
	text-align: center;
	margin-top: -5em;
	font-size: 3.5em;
	margin-left: -4em;
	margin-bottom: 2.5em;
	opacity: 0.8;
	font-weight: 800;

}
#titre1w{
	font-weight: 800;
	color: var(--grisclair);
	text-align: center;
	margin-top: 1.5em;
	margin-left: 8.3em;
	font-size: 3em;
	opacity: 0.8;
	writing-mode: vertical-lr; 
	text-orientation: upright;
}








.imgcenter{
	text-align: center;
}
.p1{
	color: var(--violetclair);
	text-align: center;
	font-size: 1.2em;
	margin-bottom: -0.8em;
}
.p2{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.2em;
	margin-bottom: -0.2em;
}
.p3{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.3em;
	margin-bottom: -0.2em;
}
.p4{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.1em;
	margin-bottom: -0.7em;
}
.p5{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}
/*---Animaux carte--*/

  

/*carte*/
.mapzoo{
	width: 70%;
	border-radius: 1em;
	margin-bottom: 4em;
	margin-top: 1em;
	transition: ease 0.3s;
}
.mapzoo:hover{
	transform: scale(1.1);
	transition: ease 0.3s;
}
.panimal{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 3em;
}
.divcenter{
	align-items: center;
}

/*footer css*/
footer{
	width: 5em;
	height: 4em;
}

/*-----*/
@media screen and (max-width : 550px){

}