@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Montserrat:wght@100;400&family=Open+Sans:wght@300&family=Playfair+Display&family=Rubik&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
	--grisclair : #868686; 
	--vertclair : #ACCD9D;
	--violetclair : #918ABC;
	--grisfoncer : #1F1F1F;
	--blancgris : #E4E4E4;

}
*::-webkit-scrollbar{
	overflow: hidden;
}
body{
	background: var(--grisfoncer);
}
body, html {
	margin: 0;
	padding: 0;
  }  
.imgback {
	background: url('foret2.jpg') no-repeat center center;
	background-size: cover; 
	position: fixed;
	margin-top: 1em;
	margin-bottom: auto;
	right: 2em;
	width: 42em;
	height: 36em;
	z-index: -1;
	border-radius: 0.2em;	
  }

/* CSS nav barre*/
.sidenav {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	background-color: var(--grisfoncer);
	padding-top: 1.5em;
	transition: left 1s ease;
  } 
  .sidenav ul {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style-type: none;
  }
  .sidenav a {
	padding: 25px 25px 10px 0;
	text-decoration: none;
	color: var(--grisclair);
	display: block;
	transition: 0.3s;
  }
  .sidenav .sousmenu li{
	display: inline-block;
	position: relative;
  }
  .menuprinc a{
	font-size: 1.9em;
	color: var(--vertclair);
  }
  .sousmenu a{
	font-size: 1.3em;
	color: var(--blancgris);
  }
  .menuprinc a:hover {
	color: var(--grisclair);
  }
  .sousmenu a:hover {
	color: var(--grisclair);
  }
  .sidenav.active {
	left: 0;
  }   
  .sidenav .close {
	position: absolute;
	top: 0;
	right: 1.5625em;
	font-size: 2.25em;
  }  
  .burger-icon span {
	display: block;
	width: 2.3em;
	height: 0.25em;
	border-radius: 1em;
	background-color: var(--grisclair);
	margin: 0.3em 1em;

  }
  .accueil a{
	font-size: 2.2em;
	margin-bottom: 0.7em;
	display: block;
	color: var(--vertclair);
  }
  .accueil a:hover{
	color: var(--grisclair);
  }
  .contact a{	
	color: var(--vertclair);
	font-size: 1.9em;
	display: block;
  }
.contact:hover{
	color: var(--grisclair);
}

/*------------------------------INDEX------------------------------------ */
.titre{
	color: var(--blancgris);
	text-align: center;
	margin-top: 2em;
	font-size: 2em;
	margin-bottom: 1em;
}
.titreind{
	margin-left: 2em;
	color: var(--blancgris);
	margin-top: 3.5em;
	font-size: 2em;
	margin-bottom: 1em;
}
.ind1{
	margin-left: 4em;
	color: var(--blancgris);
	margin-top: 3em;
	font-size: 1em;
}
.ind2{
	margin-left: 4em;
	color: var(--blancgris);
	margin-top: -0.9em;
	font-size: 1em;
	margin-bottom: 1em;
}
.p4{
	margin-left: 3em;
	color: var(--blancgris);
	margin-top: 1em;
	font-size: 1.3em;
	margin-bottom: 1em;
}
.p4 a{
	text-decoration: none;
	color: var(--grisclair);
}
.p4 a:hover{
	color: var(--vertclair);
}
#titre1{
	height: 1.2em;
	width: 5.5em;
	color: var(--blancgris);
	text-align: center;
	margin-top: 2em;
	font-size: 2em;
	margin-left: 6.5em;
}
#titre1t{
	color: #5D6D7E;
	text-align: center;
	margin-top: -5em;
	font-size: 3.5em;
	margin-left: 6em;
	height: 1.2;
	width: 2em;
	margin-bottom: 2.5em;
	opacity: 0.8;
	font-weight: 800;
}
#titre1w{
	font-weight: 900;
	color: #5D6D7E;
	text-align: center;
	margin-top: 1.5em;
	margin-left: 4.5em;
	font-size: 3.2em;
	opacity: 0.8;
	writing-mode: vertical-lr; 
	text-orientation: upright;
}
#titre1.active{
	display: none;
}
#titre1t.active{
	display: none;
}
#titre1w.active{
	display: none;
}

/*---------------------------ANIMAUX--------------------------------*/
.mensec{
	margin-top: 3em;
	margin-bottom: 5em;
	margin-left: -2.5em;
	align-items: center;
	overflow: hidden;
}
.mensec ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.mensec li{
	display: inline-block;
	text-align: center;
}
.mensec a{
	text-decoration: none;
	color: var(--vertclair);
	margin-left: 1.3em;
	text-align: center;
}
.mensec a:hover{
	color: var(--grisclair);
}



#card.active{
	display: none;

}
#card {
	margin-top: 3em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('bleulezard.jpg') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card:hover .card__content {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

#card2 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('dragnoir.jpg') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card2:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card2:hover .card__content2 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title2 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description2 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }
  #card2.active{
	display: none;

}

#card3.active{
	display: none;

}
  #card3 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('serpentglacer.avif') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card3:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card3:hover .card__content3 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title3 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description3 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  .pT{
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
	margin-top: 2em;
  }
/*----terriens----*/
#reptiles{
	margin-top: 4em;
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
	margin-bottom: 2em;
}
#terriens{
	margin-top: 4em;
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
	margin-top: 2em;
}
#marins{
	margin-top: 4em;
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
	margin-bottom: 2em;
}
  #card4.active{
	display: none;

}
  #card4 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('Capture\ d\'écran\ 2023-10-04\ 095159.png') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card4:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card4:hover .card__content4 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title4 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description4 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  #card5.active{
	display: none;

}
  #card5 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('minidragon.avif') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card5:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card5:hover .card__content5 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title5 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description5 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  #card6.active{
	display: none;

}
  #card6 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('Animal_page_princ.webp') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card6:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content6 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card6:hover .card__content6 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title6 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description6 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  #card7.active{
	display: none;

}
  #card7 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('poulpe.png') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card7:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content7 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card7:hover .card__content7 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title7 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description7 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  #card8.active{
	display: none;

}
  #card8 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card8:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content8 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card8:hover .card__content8 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title8 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description8 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }

  #card9.active{
	display: none;

}
  #card9 {
	margin-top: 4em;
	margin-left: 28em;
	position: relative;
	width: 24em;
	height: 17em;
	display: flex;
	background: url('') no-repeat center ;
	background-size: cover;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card9:hover {
	transform: rotate(-5deg) scale(1.1);
	box-shadow: 0 10px 20px var(--blancgris);
  }
  
  .card__content9 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #card9:hover .card__content9 {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
  }
  
  .card__title9 {
	margin: 0;
	font-size: 24px;
	color: var(--vertclair);
	font-weight: 700;
  }
  
  .card__description9 {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
  }
/*----------------*/

.p2{
	color: var(--blancgris);
	text-align: center;
	font-size: 1.2em;
}
.p3{
	color: var(--blancgris);
	text-align: center;
	font-size: 1.2em;
	margin-top: -0.8em;
	margin-bottom: -0.2em;
}

/*---Animaux carte--*/

  

/*carte*/
.mapzoo{
	width: 55%;
	border-radius: 1em;
	margin-bottom: 4em;
	margin-top: 3em;
	transition: ease 0.3s;
}
.imgcenter{
	text-align: center;
}
.mapzoo:hover{
	transform: scale(1.1);
	transition: ease 0.3s;
}
.panimal{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 3em;
}
.divcenter{
	align-items: center;
}
/*--------------------------Restaurant-------------------------------*/
.pcoffee1{
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
}
.menucafe1{
	margin-top: 4em;
	height: 60%;
	width: 40%;
	margin-bottom: 4em;
}
.psnack1{
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
}
.psnack1:hover{
	color: var(--grisclair);
}
.pcoffee1:hover{
	color: var(--grisclair);
}
.menusnack1{
	margin-top: 4em;
	height: 60%;
	width: 40%;
	margin-bottom: 4em;
}
.prestau1{
	color: var(--blancgris);
	text-align: center;
	font-size: 2em;
}
.menurestau1{
	margin-top: 4em;
	height: 60%;
	width: 40%;
	margin-bottom: 4em;
}





/*--------------------------FOOTER---------------------------------*/
footer{
	width: 5em;
	height: 4em;
}

/*-----------------------RESPONSIVE-------------------------------*/
@media screen and (max-width : 550px){

}