@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Montserrat:wght@100;400&family=Open+Sans:wght@300&family=Playfair+Display&family=Rubik&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
	--grisclair : #868686; 
	--vertclair : #ACCD9D;
	--violetclair : #918ABC;
	--grisfoncer : #1F1F1F;
	--blancgris : #E4E4E4;

}
*::-webkit-scrollbar{
	overflow: hidden;
}
body{
	background: var(--grisfoncer);
}
/* CSS nav barre*/
.sidenav {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	background-color: var(--grisfoncer);
	padding-top: 1.5em;
	transition: left 1s ease;
  } 
  .sidenav ul {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style-type: none;
  }
  .sidenav a {
	padding: 25px 25px 10px 0;
	text-decoration: none;
	color: var(--grisclair);
	display: block;
	transition: 0.3s;
  }
  .sidenav .sousmenu li{
	display: inline-block;
	position: relative;
  }
  .menuprinc a{
	font-size: 1.9em;
	color: var(--vertclair);
  }
  .sousmenu a{
	font-size: 1.3em;
	color: var(--violetclair);
  }
  .menuprinc a:hover {
	color: var(--grisclair);
  }
  .sousmenu a:hover {
	color: var(--grisclair);
  }
  .sidenav.active {
	left: 0;
  }   
  .sidenav .close {
	position: absolute;
	top: 0;
	right: 1.5625em;
	font-size: 2.25em;
  }  
  .burger-icon span {
	display: block;
	width: 2.1875em;
	height: 0.25em;
	background-color: #E4E4E4;
	margin: 0.375em 0;
  }
  .accueil a{
	font-size: 2.2em;
	margin-bottom: 0.7em;
	display: block;
	color: var(--vertclair);
  }
  .accueil a:hover{
	color: var(--grisclair);
  }
  .contact a{	
	color: var(--vertclair);
	font-size: 1.9em;
	display: block;
  }
.contact:hover{
	color: var(--grisclair);
}

/*Début css body */
.titre{
	color: var(--vertclair);
	text-align: center;
	margin-top: 1.2em;
	font-size: 2.3em;
	margin-bottom: 1em;
}
.titre1{
	color: var(--vertclair);
	text-align: center;
	margin-top: 1.2em;
	font-size: 2.3em;
	margin-bottom: 5em;
}
/*.test{
	border-radius: 25%;
	background: var(--vertclair);
	box-shadow: 13px 13px 26px #7F9874, -13px -13px 26px #D9FFC6;
}*/
.imgcenter{
	text-align: center;
}
.p1{
	color: var(--violetclair);
	text-align: center;
	font-size: 1.2em;
	margin-bottom: -0.8em;
}
.p2{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.2em;
	margin-bottom: -0.2em;
}
.p3{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.3em;
	margin-bottom: -0.2em;
}
.p4{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.1em;
	margin-bottom: -0.7em;
}
.p5{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}
.mapzoo{
	width: 70%;
	border-radius: 1em;
	margin-bottom: 4em;
}
.line{
	width: 100%;
	height: 0.03125em;
	background-color: var(--blancgris);
	margin-bottom: 4em;
}
.panimal{
	color: var(--vertclair);
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 3em;
}

.imganimalprinc{
	width: 29em;
	border-radius: 1.5em;
}

.imganimalprinc:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

#reptiles{
	color: var(--vertclair);
}

/*footer css*/
footer{
	margin-top: 10em;
}

/*-----*/
@media screen and (max-width : 550px){
	.imganimalprinc{
		width: 20em;
	}
}